---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    <div id="clstr_globe_container" style="width: 280px; height: 280px; margin: 0 auto;">
      <!-- <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=gjXe2ecEzKrsQJ3fmYpInzQI3R0GItwPZ98wTt0l84E"></script> -->
      <script type="text/javascript" src="//rf.revolvermaps.com/0/0/8.js?i=5e8vezt4pob&amp;m=8&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
